### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [151]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
raw_data_file = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(raw_data_file)

## Player Count

* Display the total number of players

In [152]:
count = len(purchase_data["SN"].value_counts())
print(pd.DataFrame([count], columns = ["Total Number of Players"]))

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [153]:
distinct_items = len(purchase_data["Item ID"].value_counts())

cash = float(str(round(purchase_data["Price"].sum(), 2)))

n = float(str(round(purchase_data["Price"].count())))

mu = round(cash / n, 2)

#\\\\\\\\
#Analysis
#\\\\\\\\

#Constructing a Blank Slate
analyzecashflow = []

#Filling the Blank Slate
analyzecashflow.append(int(distinct_items))
analyzecashflow.append( "$" + str(mu))
analyzecashflow.append(int(n))
analyzecashflow.append( "$" + str(cash))

#Oh look. Our slates evolving.
evolution = pd.DataFrame([analyzecashflow], columns = ["Quantity of Unique Items", "Average Price", "Quantity of Purchases", "Total Revenue"])

print(evolution)

   Quantity of Unique Items Average Price  Quantity of Purchases Total Revenue
0                       183         $3.05                    780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [154]:
gender_group = purchase_data[["SN", "Gender"]]
gender_group = gender_group.drop_duplicates()

counts = gender_group["Gender"].value_counts()

countz = [counts[0], counts[1], counts[2]]

sigma = [round(counts[0] / (counts[0] + counts[1] + counts[2]) * 100, 2), round(counts[1] / (counts[0] + counts[1] + counts[2]) * 100, 2), round(counts[2] / (counts[0] + counts[1] + counts[2]) * 100, 2)]

gender_frame = pd.DataFrame({"Percentage of Players" : sigma, "Total" : countz})

gender_frame.index = (["Male", "Female", "Other"])

print(gender_frame)

        Percentage of Players  Total
Male                    84.03    484
Female                  14.06     81
Other                    1.91     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [156]:
gendergroups = purchase_data[["SN","Gender","Price"]]
gcount = gendergroups["Gender"].value_counts()


#Counting Purchases
pcount = [gcount[0], gcount[1], gcount[2]]

gendergroups = gendergroups.groupby("Gender")
totall = gendergroups.sum()
totall

#Total Value
gtotal = [totall.iloc[1,0], totall.iloc[0,0], totall.iloc[2,0]]

#Average Purchase Price
gmean = [totall.iloc[1,0]/gcount[0], totall.iloc[0,0]/gcount[1], totall.iloc[2,0]/gcount[2]]

#Constructing DataFrame
analyzeG = pd.DataFrame({"Number of Purchases": pcount, "Average Purchase Price": gmean, "Total Value": gtotal, "Gender": ["Male", "Female", "Other / Non-Disclosed"]})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [157]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"] , age_bins).value_counts()

(19.9, 24.9]       365
(14.9, 19.9]       136
(24.9, 29.9]       101
(29.9, 34.9]        73
(34.9, 39.9]        41
(9.9, 14.9]         28
(0.0, 9.9]          23
(39.9, 99999.0]     13
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [158]:
#Purchase Info
purchases_10 = purchase_data[purchase_data["Age"] < 10].count()[0]
purchases_14 = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)].count()[0]
purchases_19 = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)].count()[0]
purchases_24 = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)].count()[0]
purchases_29 = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)].count()[0]
purchases_34 = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)].count()[0]
purchases_39 = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)].count()[0]
purchases_40 = purchase_data[purchase_data["Age"] >= 40].count()[0]
purchasez = [purchases_10, purchases_14, purchases_19, purchases_24, purchases_29, purchases_34, purchases_39, purchases_40]

#Purchase Totals (Part 1)
totals_10 = purchase_data.loc[purchase_data['Age'] < 10, 'Price'].sum()
totals_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <=14), 'Price'].sum()
totals_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <=19), 'Price'].sum()
totals_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <=24), 'Price'].sum()
totals_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <=29), 'Price'].sum()
totals_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <=34), 'Price'].sum()
totals_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <=39), 'Price'].sum()
totals_40 = purchase_data.loc[purchase_data['Age'] >= 40, 'Price'].sum()
totalz = [totals_10, totals_14, totals_19, totals_24, totals_29, totals_34, totals_39, totals_40]

#Mean
mu_0 = [round(totals_10/purchases_10, 2), round(totals_14/purchases_14, 2), round(totals_19/purchases_19, 2), round(totals_24/purchases_24, 2), round(totals_29/purchases_29, 2),
              round(totals_34/purchases_34, 2), round(totals_39/purchases_39, 2), round(totals_40/purchases_40, 2)]

#A Dictionary
cashflowbyage = {"Quantity of Purchases" : purchasez, "Average Purchase Price" : mu_0, "Purchase Total Amount" : totalz}

newdf = pd.DataFrame(cashflowbyage)
newdf = newdf[["Quantity of Purchases", "Average Purchase Price", "Purchase Total Amount"]]

newdf.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40 and up"])

print(newdf)

           Quantity of Purchases  Average Purchase Price  \
<10                           23                    3.35
10-14                         28                    2.96
15-19                        136                    3.04
20-24                        365                    3.05
25-29                        101                    2.90
30-34                         73                    2.93
35-40                         41                    3.60
40 and up                     13                    2.94

           Purchase Total Amount
<10                        77.13
10-14                      82.78
15-19                     412.89
20-24                    1114.06
25-29                     293.00
30-34                     214.00
35-40                     147.67
40 and up                  38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [159]:
dfx = purchase_data[["SN", "Price", "Item Name"]]

totalq = dfx.groupby("SN").sum()

#LazySort
totalq.sort_values(by = "Price", ascending = False, inplace = True)

#Top Five
named = list(totalq.index.values)
top5 = [named[0], named[1], named[2], named[3], named[4]]

#Purchase Totals (Part 2)
ptotal1 = totalq.iloc[0, 0]
ptotal2 = totalq.iloc[1, 0]
ptotal3 = totalq.iloc[2, 0]
ptotal4 = totalq.iloc[3, 0]
ptotal5 = totalq.iloc[4, 0]
ToTal = [totalq.iloc[0, 0], totalq.iloc[1, 0], totalq.iloc[2, 0], totalq.iloc[3, 0], totalq.iloc[4, 0]]

#Purchase Counter
xtotal1 = dfx[dfx["SN"] == named[0]].count()[0]
xtotal2 = dfx[dfx["SN"] == named[1]].count()[0]
xtotal3 = dfx[dfx["SN"] == named[2]].count()[0]
xtotal4 = dfx[dfx["SN"] == named[3]].count()[0]
xtotal5 = dfx[dfx["SN"] == named[4]].count()[0]
xtotalx = [xtotal1, xtotal2, xtotal3, xtotal4, xtotal5]

#Averages
Mu1 = round(ptotal1/xtotal1, 2)
Mu2 = round(ptotal2/xtotal2, 2)
Mu3 = round(ptotal3/xtotal3, 2)
Mu4 = round(ptotal4/xtotal4, 2)
Mu5 = round(ptotal5/xtotal5, 2)
Mux = [Mu1, Mu2, Mu3, Mu4, Mu5]

#Another Dictionary
xdict = {"Number of Purchases": xtotalx, "Average Purchase Price": Mux, "Total Value of Purchases": ToTal, "SN": top5}

#Another DataFrame
dee_eff = pd.DataFrame(xdict)
dee_eff = dee_eff.set_index("SN")
dee_eff = dee_eff[["Number of Purchases", "Average Purchase Price", "Total Value of Purchases"]]

dee_eff

,Number of Purchases,Average Purchase Price,Total Value of Purchases
SN,,,
Lisosia93,5,3.79,18.96
Idastidru52,4,3.86,15.45
Chamjask73,3,4.61,13.83
Iral74,4,3.40,13.62
Iskadarya95,3,4.37,13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [160]:
dfy = purchase_data[["Item ID", "Item Name", "Price"]]

theywant = dfy.groupby("Item ID").count()
theywant.sort_values(by = "Item Name", ascending = False, inplace = True)


dfy = dfy.drop_duplicates(["Item ID", "Item Name"])

item_X = [theywant.index[0], theywant.index[1], theywant.index[2], theywant.index[3], theywant.index[4]]

#Names
name1 = dfy.loc[dfy["Item ID"] == item_X[0], "Item Name"].item()
name2 = dfy.loc[dfy["Item ID"] == item_X[1], "Item Name"].item()
name3 = dfy.loc[dfy["Item ID"] == item_X[2], "Item Name"].item()
name4 = dfy.loc[dfy["Item ID"] == item_X[3], "Item Name"].item()
name5 = dfy.loc[dfy["Item ID"] == item_X[4], "Item Name"].item()
theywantitems = [name1, name2, name3, name4, name5]

#More Counts
counter = [theywant.iloc[0,0], theywant.iloc[1,0], theywant.iloc[2,0], theywant.iloc[3,0], theywant.iloc[4,0]]

#Prices
p1 = dfy.loc[dfy["Item Name"] == theywantitems[0], "Price"].item()
p2 = dfy.loc[dfy["Item Name"] == theywantitems[1], "Price"].item()
p3 = dfy.loc[dfy["Item Name"] == theywantitems[2], "Price"].item()
p4 = dfy.loc[dfy["Item Name"] == theywantitems[3], "Price"].item()
p5 = dfy.loc[dfy["Item Name"] == theywantitems[4], "Price"].item()
pitems = [p1,p2,p3,p4,p5]

#Total Value
value = [theywant.iloc[0,0]*p1, theywant.iloc[1,0]*p2, theywant.iloc[2,0]*p3, 
                theywant.iloc[3,0]*p4, theywant.iloc[4,0]*p5]

# Creating DataFrame & setting index
delta_phi = pd.DataFrame({"Item ID": item_X, "Item Name": theywantitems, "Purchase Count": counter, "Item Price": pitems, "Total Purchase Value": value})

#As you may or may not have noticed, I'm running out of imagination for names for DataFrames. I will be more mindful in the future from the very start.
delta_phi = delta_phi.set_index(["Item ID", "Item Name"])
delta_phi = delta_phi[["Purchase Count", "Item Price", "Total Purchase Value"]]

print(delta_phi)

                                                      Purchase Count  \
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
108     Extraction, Quickblade Of Trembling Hands                  9
82      Nirvana                                                    9
19      Pursuit, Cudgel of Necromancy                              8

                                                      Item Price  \
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm        4.23
145     Fiery Glass Crusader                                4.58
108     Extraction, Quickblade Of Trembling Hands           3.53
82      Nirvana                                             4.90
19      Pursuit, Cudgel of Necromancy                       1.02

                                                      Total Purchase Value
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
145     Fiery Glass Crusader                                         41.22
108     Extraction, Quickblade Of Trembling Hands                    31.77
82      Nirvana                                                      44.10
19      Pursuit, Cudgel of Necromancy                                 8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [161]:
dfz = purchase_data[["Item ID", "Item Name", "Price"]]
iprofit = dfz.groupby("Item ID").sum()
iprofit.sort_values(by = "Price", ascending = False, inplace = True)
dfz = dfz.drop_duplicates(["Item ID", "Price"])

itemID = [iprofit.index[0], iprofit.index[1], iprofit.index[2], iprofit.index[3], iprofit.index[4]]

#Item nAmes
nAme1 = dfz.loc[dfz["Item ID"] == itemID[0], "Item Name"].item()
nAme2 = dfz.loc[dfz["Item ID"] == itemID[1], "Item Name"].item()
nAme3 = dfz.loc[dfz["Item ID"] == itemID[2], "Item Name"].item()
nAme4 = dfz.loc[dfz["Item ID"] == itemID[3], "Item Name"].item()
nAme5 = dfz.loc[dfz["Item ID"] == itemID[4], "Item Name"].item()
nAmeP = [nAme1, nAme2, nAme3, nAme4, nAme5]

# Total Value
valuez = [iprofit.iloc[0,0], iprofit.iloc[1,0], iprofit.iloc[2,0], iprofit.iloc[3,0], iprofit.iloc[4,0]]

#secirP      
p1p = dfz.loc[dfz["Item ID"] == itemID[0], "Price"].item()
p2p = dfz.loc[dfz["Item ID"] == itemID[1], "Price"].item()
p3p = dfz.loc[dfz["Item ID"] == itemID[2], "Price"].item()
p4p = dfz.loc[dfz["Item ID"] == itemID[3], "Price"].item()
p5p = dfz.loc[dfz["Item ID"] == itemID[4], "Price"].item()
itemsp = [p1p, p2p, p3p, p4p, p5p]

#Counting Purchases
dfq = purchase_data[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
co1nt = dfq.loc[dfq.index == nAmeP[0], "Item ID"].item()
co2nt = dfq.loc[dfq.index == nAmeP[1], "Item ID"].item()
co3nt = dfq.loc[dfq.index == nAmeP[2], "Item ID"].item()
co4nt = dfq.loc[dfq.index == nAmeP[3], "Item ID"].item()
co5nt = dfq.loc[dfq.index == nAmeP[4], "Item ID"].item()
Count = [co1nt, co2nt, co3nt, co4nt, co5nt]

#Final DataFrame
profitz = pd.DataFrame({"Item ID": itemID, "Name": nAmeP, "Number Purchased": Count, "Price": itemsp, "Total Value": valuez})

profitz

,Item ID,Name,Number Purchased,Price,Total Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
1,82,Nirvana,9,4.90,44.10
2,145,Fiery Glass Crusader,9,4.58,41.22
3,92,Final Critic,13,4.88,39.04
4,103,Singed Scalpel,8,4.35,34.80